<section id="about" class="section-about">
    <div class="container section-about__container">
        <div class="section-about__content-side">
            <h2 class="section-about__title">Why Choose Us</h2>
            <p class="section-about__text">Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee </p>
            <p class="section-about__text">
                Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
            </p>
            <a class="button section-about__button button--about" href="">Explore Places </a>
          </div>  
          <div class="section-about__pictures-side">
            <div class="section-about__image-wrapper">
                <img class="section-about__image" src="images/card-1.png" alt="card-1" />
              </div>
            <div class="section-about__image-wrapper">
              <img class="section-about__image" src="images/card-2.png" alt="card-2" />
            </div>
        </div>
    </div>

</section>