<header id="home" class="header">
    <h1 class="header__title">Bhromaon</h1>
    <p class="header__text">
        Safe Travel Anywhere
    </p>
    <form class="header__form" action="/" method="POST">
        <input placeholder="Search Your Travel Destination" type="search" class="header__input" />
        <button class="header__button button--header " href="#">Search &#128269</button>
    </form>

    <a href="#about" class="header__scroll scroll">
            <p  class="scroll__text">Scroll Down</p>
            <svg class="scroll__icon">
              <use xlink:href="#arrow"></use>
            </svg>
    </a>
    <nav class="navigation">
        <div class="container navigation__container">
            <div class="logo navigation__logo">Bhromaon</div>
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a class="navigation__link" href="#about">Who We Are</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="">What We Do</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="">Travel With Us</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <svg style="display: none;">
        <symbol id="arrow" view-box="0 0 13.5 7.656"> 
            <path  d="M896.125,616.651l-3.375-3.375,0.844-.844,5.906,5.907,5.906-5.977,0.844,0.844-6.75,6.82-0.844-.843Z" transform="translate(-892.75 -612.375)"/>
           
        </symbol>
    </svg>
</header>
