.header {
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  @include flex(flex-start, center, column);
  height: 100vh;
  padding-top: 150px;
  @include media ($screen-iphone){
    padding-top: 200px;
  }
  @include media ($screen-tablet-large){
  padding-top: 260px;

  }

  &__title{
      @include text($H600,400);
      margin: 0 auto;
      text-align: center;
      font-family: $secondary-font;
      text-transform: uppercase;
      letter-spacing: 11px;
      margin-bottom: 20px;
      @include media ($screen-tablet-large) {
        @include text($H750,400);
        margin-bottom: 10px;
      }
  }
  &__text{
    text-align: center;
    margin: 0 auto;
    @include text($H100);
    font-family: $secondary-font;
    margin-bottom: 50px;
    letter-spacing: 7px;

     @include media ($screen-iphone){
      margin-bottom: 100px;
    }
    @include media ($screen-tablet-large){
      @include text($H400);
    }
   
  }

}