.navigation{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    @include media ($screen-desktop){
    background-color: $blue;
    width: 100%;
    display: block;
    &__container{
        height: 80px;
        @include flex(space-between, center,row);
    }
    &__logo{
        @include text($H500, 400);
        font-family: $secondary-font;

        text-transform: uppercase;   
    }
    &__list{
        @include flex(center, center, row);
        
    }
    &__item{
        &:not(:last-child)  {
            margin-right: 40px;
        } 
    }
    &__link{
        @include text($H10, 400);
        text-transform: uppercase;   
    }
    }
    
}