.scroll {
  margin-bottom: 280px;
  display: block;
    @include flex(center, center, column);

  &__text {
    @include text($H10, 400, $light);
    font-family: $secondary-font;
    letter-spacing: 3px;
    margin-bottom: 13px;
  }
  &__icon {
    width: 14px;
    height: 8px;
    fill: $light;
  }
}
